<!-- /System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister -f ../../  -->

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UTExportedTypeDeclarations</key>
	<array>
	
		<dict>		
			<key>UTTypeIdentifier</key>
			<string>xiph.ogg</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ogg</string>
				</array>
			</dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
		</dict>
		
		<dict>		
			<key>UTTypeIdentifier</key>
			<string>xiph.oga</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ogv</string>
				</array>
			</dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.video</string>
			</array>
		</dict>
		
		<dict>		
			<key>UTTypeIdentifier</key>
			<string>xiph.flac</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>flac</string>
				</array>
			</dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
		</dict>
		
		<dict>
			<key>UTTypeIdentifier</key>
			<string>adobe.flv</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>flv</string>
				</array>
			</dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
				<string>public.video</string>
			</array>
		</dict>
		
		<dict>
			<key>UTTypeIdentifier</key>
			<string>matroska.mkv</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mkv</string>
				</array>
			</dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.video</string>
			</array>
		</dict>
		
		<dict>
			<key>UTTypeIdentifier</key>
			<string>matroska.mka</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mka</string>
				</array>
			</dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
		</dict>
		
		<dict>
			<key>UTTypeIdentifier</key>
			<string>google.webm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>webm</string>
				</array>
			</dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.video</string>
			</array>
		</dict>
		
		<dict>
			<key>UTTypeIdentifier</key>
			<string>google.weba</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>weba</string>
				</array>
			</dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
		</dict>
		
	</array>
</dict>
</plist>
